node_modules/
.env
npm-debug.log*
wallet/
Wallet_*/
*.sso
*.p12
tnsnames.ora
sqlnet.ora
cwallet.sso
ewallet.pem
.DS_Store/
.idea/
.vscode/
*.toml
.ruler/
Claude.MD
secrets/oracle-wallet/Wallet_ProjetoIntegradorV.zip
docs/
/.postman
/postman
iniciar.bat
/frontend/dist
/presentation_screenshots/
